* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  background-color: black;
}

section {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  display: block;
  width: 100%;
  /* height: auto; */
}
.soft-background {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 80px;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.odin-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

.side {
  background-color: rgb(239, 243, 243);
  height: 349px;
  width: 460px;
}
.content {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 50px;
}

.signUp {
  margin-bottom: 10px;
  margin-left: 20px;
}
.more {
  margin-left: 20px;
  margin-bottom: 10px;
}
.formContent {
  background-color: rgb(253, 253, 253);
  height: 150px;
  box-shadow: 0 6px 6px -6px black;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
}

h3 {
  margin-bottom: 10px;
}
.input {
  display: flex;
  align-items: center;
}
.left {
  margin-right: 30px;
}

label {
  font-size: 8px;
}
.inputField {
  margin-bottom: 3px;
}

input:focus:invalid {
  border-color: red;
}

input:valid {
  border-color: blue;
}

button {
  height: 30px;
  width: 120px;
  color: #ffffff;
  background-color: #596d48;
  border-radius: 5px;
  border: 1px;
  box-shadow: 0 6px 6px -6px black;
  margin-left: 20px;
}
.logIn {
  font-size: 10px;
  margin-top: 10px;
  margin-left: 20px;
}
.link {
  color: #596d48;
  font-size: 10px;
}
