* {
  margin: 0;
  padding: 0;
  font-size: 16;
}

body {
}

section {
  align-items: center;
  justify-content: center;
  display: flex;
}

.side {
  background-color: rgb(239, 243, 243);
  height: 349px;
  width: 460px;
  padding-left: 20px;
}
.input {
  background-color: rgb(253, 253, 253);
  height: 150px;

  display: flex;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 6px 6px -6px black;
}
.left {
  margin-right: 30px;
}

label {
  font-size: 12px;
}
